@media (max-width: 1330px){
    .sidepanel {
       display: none;
    }
    p{
        margin-bottom: 0px;
    }
   }

@media (max-width: 1200px){
 .container{
    max-width: 960px;
 }
 .about {
    &__wrapper {
        grid-template-columns: 400px 520px;
        column-gap: 40px;
    }
    &__skills {
        column-gap: 16px ;
        row-gap: 0px;
        &-item {
            grid-template-columns: repeat(2,minmax(115px,auto))/repeat(2,250px) ;
            column-gap: 15px;
        }
    }
 }
 .resume{
    &__wrapper{
        column-gap: 95px;
        grid-template-columns: repeat(2,390px);
    }
 }
 .skills{
    &__items{
        grid-template: repeat(2,minmax(270px,auto))/repeat(3,270px);
        justify-content: center;
    }
    &__ratings{
        grid-template: repeat(2,minmax(70px,auto))/repeat(2,400px);
        justify-content: center;
        &-item{
            margin-right: 40px;
        }
    }
 }
}

@media (max-width:992px){
    .container{
        max-width: 720px;
     }
     .title {
        font-size: 30px;
     }
     .about {
        &__wrapper {
            grid-template-columns: 300px 380px;
        }
        &__skills {
            grid-template-columns: 380px;
            grid-auto-rows: minmax(115px, auto);
            &-item{
                grid-template-columns: 40px 320px;
                column-gap: 20px;
            }
        }
     }
     .resume{
        &__wrapper{
            grid-template-columns: 1fr;
            padding: 20px 65px 0 18px;

        }
        &__item{
            &-body{
                font-size: 13px;
            }
        }
     }
     .skills {
        &__items{
            grid-template: repeat(2,minmax(270px,auto))/repeat(2,270px);
            justify-content: center;
        }
        &__ratings{
            grid-template: repeat(3,minmax(70px,auto))/1fr 1fr;
            grid-auto-rows: minmax(70px,auto);
            &-item{
               margin-right: 0;
            }
        }
     }
}
@media (max-width: 768px){
    .container{
        max-width: 540px;
     }
     .title {
        &_fz48{
            font-size: 28px;
        }
     }
     .promo {
        &__title{
            width: 300px;
            line-height: 39px;
        }
     }
     .about {
        padding-top: 40px;
        &__wrapper{
            grid-template: 400px auto auto / 1fr;
        }
        &__photo {
            grid-row: unset;
        }
        &__skills {
            grid-template-columns: repeat(2, 260px);
        }
        &__skills{
            &-item{
                grid-template-columns: 40px 200px;
                column-gap: 20px
            }
        }
     }
     .resume{
        padding-top: 70px;
     }
     .skills {
        padding-top: 70px;
        &__ratings{
            grid-template: repeat(3,minmax(70px,auto))/1fr;
            grid-auto-rows: minmax(70px,auto);
            &-item{
               margin-right: 0;
            }
            &-line{
                width: 500px;
            }
        }
     }
     
}
@media (max-width: 576px){
    .container{
        width: 100%;
        padding: 0 10px;
     }  
     .title {
        font-size: 20px;
        &_fz48{
            font-size: 26px;
        }
     }
     .hamburger{
        right: 20px;
     }
     .menu {
        &__block{
            width: 250px;
            padding-left: 15px;
        }
     }
     .promo {
        background: url('../img/main_bg.jpg') no-repeat 55%/cover;
        &_btns {
            margin-top: 32px;
        }
     }
     .about {
        &__wrapper {
            grid-template: 340px auto auto / 1fr;   
        }
        &__skills {
            grid-template-columns: 1fr;

            &-item {
                grid-template-columns: 40px 1fr;
            }
        }
     }
     .resume {
        padding-top: 40px;
        &__item{
            &-location{
                font-size: 10px;
                line-height: 13px;
            }
            &-body{
                padding-left: 100px;
                margin-top: 10px;
            }
        }
    }
    .skills{
        &__items{
            grid-template: repeat(2,minmax(200px,auto))/ 1fr;
        }
        &__item{
            display: flex;
            align-items: center;
            flex-direction: column;
            text-align: center;
            padding: 30px 30px 25px 30px;
        }   
        &__ratings{
            margin-top: 60px;
            justify-items: center;
            &-item{
                grid-template: minmax(35px,auto)/1fr 35px;
            }
            &-line{
                max-width: 300px;
            }
        }
    }
    .divider{
        margin: 2px auto -10px auto;
    }
    }