.sidepanel{
    position: fixed;
    z-index: 3;
    top: 230px;
    left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 340px;
    align-items: center;
    &_link{
        transition: 0.3s all;
    }
    &_link:hover{
        box-shadow: rgba(240, 156, 46, 0.4) -5px 5px, rgba(197, 160, 40, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
    }
    &_divider{
        width: 2px;
        height: 70px;
        background: #000;
    }
    &_text{
        height: 150px;
        width: 25px;
        span{
            transform: rotate(-90deg) translate(-30%,-260%);
            display: block;
            width: 150px;
        }
       
    }
}