.title{
    font-weight: bold;
    font-size: 36px;
    line-height: 60px;
    &_fz14{
        font-size: 14px !important;
        line-height: 21px !important;
    }
    &_fz16{
        font-size: 16px !important;
        line-height: 24px !important;
    }
    &_fz20{
        font-size: 20px !important;
    }
    &_fz48{
        font-size: 48px !important;
    }
    &__section-title{
            position: relative;
            text-align: center;
            @include before_circle;
            &:before{
                content: "";
                top: -5px;
                left: 50%;
                transform: translateX(-50%);
            }
            }
    &__section-subtitle{
                text-align: center;
            }
}